*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background: #fff;
	color: #111;
	font-family: var(--font-jetbrains-mono);
}

.page {
	max-width: 900px;
	padding: 60px 24px 60px 80px;
	text-align: left;
}

h2 {
	font-size: 20px;
	margin: 0 0 20px;
}

a {
	color: inherit;
}

@media screen and (max-width: 600px) {
	.page {
		padding: 40px 16px;
	}
}
