---
import NotesCatalog from '../components/NotesCatalog.astro';
import PhotographyDisplay from '../components/PhotographyDisplay.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<div class="notes-layout">
		<NotesCatalog />
	</div>
</Layout>
