---
import Navbar from '../components/Navbar.astro';
import { Font } from 'astro:assets';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Angelo Jensen</title>
		<Font cssVariable="--font-jetbrains-mono" preload />
	</head>
	<body>
		<Navbar />
		<div class="page">
			<slot />
		</div>
		<script src="../scripts/analytics.js"></script>
	</body>
</html>
